layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="status-bar"
    };
    children
    pane size=1 borderless=true {
      plugin location="tab-bar"
    };
  };
  tab name="Home.nix" focus=true cwd="~/.config/nix" {
    pane split_direction="horizontal" {
      pane {
        size "75%"
        focus true
        borderless true
        command "nvim"
	args "home.nix" "flake.nix" "configuration.nix" "hardware-configuration.nix"
      }
      pane 
    }
  }
  tab name="neovim" cwd="~/.config/nvim" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "init.lua"
      }
      pane 
    }
  }
  tab name="fish shell" cwd="~/.config/fish" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "config.fish"
      }
      pane 
    }
  }
  tab name="hyprland" cwd="~/.config/hypr" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "hyprland.conf"
      }
      pane 
    }
  }
  tab name="wezterm" cwd="~/.config/wezterm" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "wezterm.lua"
      }
      pane 
    }
  }
  tab name="starship" cwd="~/.config/starship" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "starship.toml"
      }
      pane 
    }
  }
  tab name="ags" cwd="~/.config/ags" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
        args "config.js"
      }
      pane 
    }
  }
  tab name="yazi" cwd="~/.config/yazi" {
    pane split_direction="horizontal" {
      pane {
        start_suspended true
        size "75%"
        focus true
        borderless true
        command "nvim"
      }
      pane 
    }
  }
}
