layout {
  default_tab_template {
    pane size=2 borderless=true {
      plugin location="status-bar"
    };
    children
    pane size=1 borderless=true {
      plugin location="tab-bar"
    };
  };
  tab name="Task Warrior" focus=true cwd="/home/jm" {
    pane split_direction="vertical" {
      pane size="35%" {
        pane {
          command "cbonsai"
          borderless true
          args "-li" "-t 0.5" "-m" "Wake up.Be Kind.Kick Ass,Repeat!"
        }
        pane size="30%"{
          command "peaclock"
          args "--config-dir" "/home/jm/.config/peaclock"
          name ""
        }
        pane size=4 { // pomotimer
          name "🍅 Pomo F'SHOmo 🍅"
          command "tomatoshell"
          args "-n" "6" "-p" "p"
          start_suspended true
        } 
      }
      // stacked panes go here
      pane {
        pane stacked=true {
          pane borderless=true { // watch sync
            size 1
            command "watch"
            args "-c" "-d" "-n" "600" "task" "sync"
          }
          pane expanded=true { // task warrior
            name "Git'r Dun!"
            focus true
            command "task"
          }
        }
      }

    }
  }
  tab name="Weather Station" hide_floating_panes=true {
    pane {
      focus true
      name "☔ or 🌞❓"
      command "sh"
      args "/home/jm/.local/scripts/wttrIn.sh"
    }
    floating_panes {
      pane {
        name "Hourly Forecast"
        height "50%"
        plugin location="file:/home/jm/.config/zellij/plugins/weather-pal.wasm"
      }
    }
  }
  tab name="Aquarium" {
    pane command="asciiquarium"
  }
}
